.tasks/docs/globalContext.md
.tasks/docs/globalPlan.md
.tasks/docs/handbooks/Azure-AI-Foundry.yml
.tasks/docs/handbooks/Azure-App-Service.yml
.tasks/docs/handbooks/Azure-Application-Insights.yml
.tasks/docs/handbooks/Azure-Azure-Container-Registry.yml
.tasks/docs/handbooks/Azure-Key-Vault.yml
.tasks/docs/handbooks/Azure-Monitor.yml
.tasks/docs/handbooks/Backend-Pydantic-2.11.6.yml
.tasks/docs/handbooks/Create-React-App-Configuration-Override.yml
.tasks/docs/handbooks/Docker.yml
.tasks/docs/handbooks/FastAPI-0.115.yml
.tasks/docs/handbooks/OpenTelemetry.yml
.tasks/docs/handbooks/Python-3.13.yml
.tasks/docs/handbooks/React-18.2.yml
.tasks/docs/handbooks/React-Hook-Form-7.57.0.yml
.tasks/docs/handbooks/React-Router-6.22.3.yml
.tasks/docs/handbooks/Server-Sent-Events-sse-starlette-2.3.6.yml
.tasks/docs/handbooks/Shadcn.yml
.tasks/docs/handbooks/Tailwind-CSS-3.2.7.yml
.tasks/docs/handbooks/Typescript-4.9.5.yml
.tasks/docs/handbooks/uv-0.5.30.yml
.tasks/docs/handbooks/Zod-3.25.62.yml
