.tasks/docs/globalContext.md
.tasks/docs/globalPlan.md
.tasks/docs/handbooks/*
.tasks/.tools/*
.tasks/.instructions.md
.tasks/README.md
.tasks/.tool_creation.prompt.md
.tasks/.instructions.prompt.md
.tasks/.instructionsv2.prompt.md
